body {
  margin: 0;
  background-color: #00365c;
}

#Container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #00365c;
}

#Box {
  font-size: 0;
  position: relative;
  width: 500px;
  height: 700px;
  text-align: center;
  justify-items: center;
  background-color: white;
  border-radius: 0.75vw;
  animation: onLoad 0.5s;
}

#Header {
  padding: 15px;
  margin-top: 60px;
  font-size: 26px;
}

.Div {
  display: inline-block;
  width: 395.2px;
  height: 110px;
}

.Label {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 40px;
}

.Input {
  width: 375px;
  height: 50px;
  font-size: 16px;
  padding-left: 17.5px;
  border: 1px solid #1a1a1b;
  border-radius: 0.75vw;
}

#RegInput {
  width: 280px;
  height: 50px;
  font-size: 16px;
  padding-left: 17.5px;
  border: 1px solid #1a1a1b;
  border-radius: 0.75vw;
}

#Send {
  width: 83.5px;
  height: 55px;
  border: 0;
  font-size: 16px;
  margin-left: 10px;
  color: white;
  background-color: #00365c;
  border-radius: 0.75vw;
  cursor: pointer;
}

#Submit {
  position: relative;
  border: 0;
  top: 10px;
  width: 395px;
  height: 55px;
  font-size: 16px;
  color: white;
  background-color: #00365c;
  border-radius: 0.75vw;
  cursor: pointer;
}

#Footer {
  position: relative;
  font-size: 16px;
  top: 75px;
  display: block;
  text-decoration: none;
}

@keyframes onLoad {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
